/*=============UNIVERSALS===================*/
/*=============ROWS and COLUMS==============*/
.row{
  height: 200px;
}
.col-md-3{
  border: 1px solid #fff;
  background-color:#e40007 ;
  height: 200px;
}
.col-md-9{
  border: 1px solid #e7e7e7;
  background-color:blue;
  height: 200px;
}
.col-xs-4{
  height: 175px;
  border: 1px solid red;
  background-color: purple;
}
.col-md-6{
  height: 200px;
  border:1px solid green;
  background-color: orange;
}
.col-md-5{
  height: 175px;
  border:1px solid cyan;
  background-color: #800000;
}
.col-md-2, .col-md-10{
  height: 175px;
  border:1px solid #12edde;
  background-color: #ea2412;
}
.container-fluid{
  background-color:pink;
}
@media screen and (max-width:480px){
  .container-fluid{
    background-color:black ;
  }
}

@media screen and (min-width:970px){
  .container-fluid{
    background-color:yellow ;
  }
}
